/* CSS Document */
/* css reset */
body, header, main, footer, h1, div,img {
	margin:0;
	padding:0;
	border:0;
}

body {
	background-color: #000000;
}

img {
	max-width: 100%;
	display: block;
}

/*Style Rules for mobile viewpoint*/

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: #000000;
	height: 190px;
}
header img {
	margin: 0 auto;
}
nav {
	width: 70%;
	float: right;
	margin: 5em 3em 0 0;
}
nav ul n{
	list-style-type: none;
	margin: 0;
	text-align: right;
}
nav li:first-child{
	border-top:none;
	display:inline-block;
	font-size: 1.75em;
	font-family: 'francois one', sans-serif;
	
}
	nav li a {
		display: block;
		color: #fff;
		text-align: center;
		padding:0.5em 1em;
		text-decoration: none;
	}

main {
	clear:both;
	background-color: #FFF;
	padding:2%;
	font-size:1.25em;
	font-family: 'roboto slab', serif;
}


.action {
	font-size:1.35em;
	color:#660066;
	font-weight: bold;
}
#weights,#cardio,#training {
	width: 29%;
	float:left;
	margin:0 2%;
}
/* END ofmeidia query for tablet viewport */
@media screen and (min-width:630px){
	/* tablet viewport: show tablet-desktop class, hide mobile class*/
	.tablet-desktop {
		display:block;
	}
	.mobile {display: none;
	}
}
/* END ofmeidia query for tablet viewport */
#exercises {
	clear: left;
	border-top: 1px solid#000;
	border-bottom: 1px solid #000;
	background-color: #f2f2f2;
	padding: 1% 2%;
}
#excercises dt {
	font-weight: bold;
}
#excersises dd {
	padding: 0.5% 1% 2% 0;
}
.external-link {
	color: #606;
	font-weight: bold;
	text-decoration: none;
}
#contact {
	text-align:center;
}
#contact a {
	color: #606;
	text-decoration: none;
}
.map {
	border: 8px solid #000;
}
footer p {
	font-size: 0.75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}
footer p a {
	color: #fff;
	text-decoration: none;
}